/* Gradient Background */
.gradient-background {
  background: linear-gradient(45deg, #3C9F8F, #3065F8);
  color: white;
}

/* Title Section */
.iphone-image {
  max-width: 200px;
  position: relative;
}

/* Features Section */
.feature-box {
  background: white;
  border-radius: 20px;
}

.feature-icon {
  width: 50px;
  height: 50px;
}

/* Testimonial Section */
#testimonial img {
  border: 3px solid #3065F8;
}

/* Pricing Section */
.card {
  background-color: #f6f6fe;
}

.card h3 {
  color: #3065F8;
}

/* Footer */
#footer {
  margin-bottom: 0;
}
