

.box {
    width: 200px;
    height: 200px;
    position: absolute; 
}

.red_box {
    background-color: red;
    top: 0;
    left: 0;
}

.yellow_box {
    background-color: yellow;
    top: 200px; 
    left: 200px;
}

.blue_box {
    background-color: blue;
    top: 400px; 
    left: 400px; 
}

